*{
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
body {
    width: 1440px;
    margin: 0 auto;
    background-color: #191919;
}
.container {
    width: 1300px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.menu_logo a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}
.menu_links ul {
    display: flex;
    list-style: none;
}
.menu_links li {
    padding-left: 10px;
}
.menu_links a {
    text-decoration: none;
    color: #fff;
    padding: 20px 0 20px 20px;
    font-size: 17px;
}
.menu_links a:hover {
    color:#118DA8;
    transition: 0.3s;
}
header {
    display: flex;
    align-items: center;
}
.card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.my_image img {
    width: 600px;
    height: 825px;
    border-radius: 5px;
}
.text span {
    font-size: 70px;
    color: #fff;
}
.social {
    padding-top: 30px;
}
.social ul {
    padding: 0;
}
.social i {
    font-size: 50px;
    padding-right: 20px;
    color: #fff;
}
.social i:hover {
    color: #118DA8;
    transition: 0.3s;
}
.title_episodes {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}
.latest_episode span {
    font-size: 64px;
    color: #fff;
}
    
.button_episodes button {
    border: none;
    background-color: #118DA8;
    cursor: pointer;
    padding: 15px;
    border-radius: 7px;
    color: #fff;
}
.button_episodes button:hover {
    color: black;
    background-color: #fff;
    transition: 0.3s;
}
.cards {
    border-radius: 15px;
}
.item {
    display: flex;
    background-color: #000000;
    margin-bottom: 50px;
    border-radius: 15px;
}
.item_img {
    padding: 40px;
}

.item_info {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px 0;
    color: #fff;
}
.button_1 button {
    border: none;
    background-color: #191919;
    cursor: pointer;
    padding: 3px 15px;
    border-radius: 7px;
}
.episode {
    margin: 45px 0 18px 0;
}
.episode span {
    color: #118DA8;
    font-size: 18px;
}
.title_text {
    margin-bottom: 50px;
}
.title_text h3 {
    margin: 0 0 35px 0;
    font-size: 64px;
}
.title_text span {
    font-size: 22px;
    opacity: 0.3;
}
.button_2 button {
    color: #fff;
    border: none;
    background-color: #118DA8;
    cursor: pointer;
    padding: 15px;
    border-radius: 7px;
}
.button_2 button:hover {
color: black;
background-color: #fff;
transition: 0.3s;
}
.subscribe_container {
    background-color: #000000;
    border-radius: 15px;
    margin-bottom: 50px;
}
.subscribe {
    padding: 60px 0 123px 40px;
    display: flex;
    justify-content: space-between;
}
.subscribe_text h3 {
    margin: 0;
    color: #fff;
    font-size: 72px;
}
.subscribe_text span{
    font-size: 18px;
    color: #118DA8;
}
.subscribe_form {
    padding-right: 40px;
}

.subscribe_form fieldset {
    border: 0;
    width: 522px;
    height: 82px    
}

.subscribe_form fieldset input {
    width: 522px;
    height: 82px;
    padding: 0 0 0 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    background-color: #191919;
    border: none;
    color: #fff;
}
.subscribe_form button {
    border: none;
    color: #fff;
    background-color: #118DA8;
    cursor: pointer;
    padding: 15px;
    border-radius: 7px;
}
.subscribe_form button:hover {
    background-color: #fff;
    transition: 0.3s;
    color: #000000;
}    
.subscribe_form :placeholder-shown {
    padding-left: 20px;
}
.reviews {
    display: flex;
    justify-content: space-between;
}
.reviews_container {
    width: 423px;
    height: 321px;
    background-color: #000000;
    border-radius: 15px;
    color: #fff;
    margin-bottom: 15px;
}
.item_reviews {
    display: flex;
    flex-direction: column;
    padding: 50px 50px 0 50px;
}
.stars i {
    color: #FCFF51;
    font-size: 17px;
    padding-bottom: 21px;
}
.comment {
    font-size: 36px;
    padding-bottom: 21px;
}
.name {
    font-size: 24px;
    color: #FFFFFFB2;
}
.footer_container {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.social_footer ul {
    padding: 0;
}
.footer_menu_links ul {
    display: flex;
    list-style: none;
}
.start a {
    color: #fff;
    font-size: 18px;
}
.footer_menu_links li {
    margin-left: 10px;
}
.footer_menu_links a {
    text-decoration: none;
    color: #fff;
    padding: 20px 0 20px 20px;
    font-size: 17px;
}
.footer_menu_links a:hover {
    color:#118DA8;
    transition: 0.3s;
}
